build/
builddir/
compositor/build/
compositor/builddir/
meson-logs/
meson-private/
compile_commands.json
*.o
*.a
*.so
*.lo
*.la
*.log
*.tmp
*.swp
*.swo
*.pyc
__pycache__/
.DS_Store
.idea/
.vscode/
*.orig
